/* style.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f6f8fa;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  color: #22b47e;
  text-align: center;
}

form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-out;
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #22b47e;
}
#amount {
  width: 95%;
}
#paymongologo {
  display: flex;
  margin-right: -80px;
}
input,
select,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1em;
}

input:focus,
select:focus {
  border-color: #22b47e;
  outline: none;
}

button {
  background-color: #22b47e;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #22b47e;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.modal-header img {
  width: 50px;
}

.modal-header h2 {
  margin: 0;
  color: #22b47e;
}

.modal-body {
  margin-top: 20px;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  top: -50px;
  left: 5px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.open-modal-btn {
  background-color: #22b47e;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.open-modal-btn:hover {
  background-color: #1a8d67;
}

/* Loader styles */
.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #22b47e;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
  display: block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Dialog Notification */
.dialog-notification {
  position: fixed;
  top: 500px;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  background-color: #22b47e;
  color: white;
  padding: 20px;
  z-index: 99999;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  animation: popIn 0.3s ease forwards;
}

@keyframes popIn {
  0% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
